{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} :: Admin{% endblock %}
{% block h1 %}
<i class="fa fa-dashboard"></i> Dashboard
{% endblock %}
{% block body %}
<p>Bienvenue dans le panneau d'administration</p>
{% endblock %}
